.clock{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    font-size: medium;
    font-size: 3em;
}
.hour {
    color: red
}
.min {
      color: green
}
.sec {
    color: blue
}