.wrap {
    font-family: Arial;
    width:100%;
    position: relative;
}

.wrap h1 {
text-align: center;
}

.wrap .container {
    max-width:1320px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.wrap .container .nav__functions {
width:45%;

}

.wrap .container .nav__functions .function-list {
    margin-bottom: 25px;
}

.wrap .container .nav__functions .function-list div {

}

.wrap .container .nav__functions .function-list .function__method {
    border-radius:10px;
    height:30px;
    box-sizing: border-box;
    border:1px solid red;
    outline: none;
    padding:10px;
}

.wrap .container .nav__functions .function-list .function__btn {
    padding:0px 10px;
    border-radius:10px;
    height:30px;
    color:#fff;
    border:none;
    cursor:pointer;
    box-sizing: border-box;
    background:red;

}
.presentation {
    width:50%;
}


.presentation .lList-noda {
display:flex;
    align-content: center;

}

.presentation  .lList-noda .nodes {
    border: 1px solid #dadada;
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    margin-right:15px;
}
.presentation  .lList-noda .nodes:after{
    content: "";
    width:15px;
    height:2px;
    background:red;
    position: absolute;
    right:-15px;
    top:50%;
    display:flex;
}
.presentation  .lList-noda .nodes:last-child:after {

content: none;
}